// ======================= Medidas ======================

// Tamaño de fuente
$fontsizebody: 1rem;

// Altura de la cabezera del body
$heightheaderbody: 3rem;


// ======================= Colores =====================

// Color de tema
$colortema : #68455f;

// Color del texto del body
$colortextbody: #626774;

