/* ================= Estilo base =============== */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: $fontsizemain;
    background-color: #fff;
    color: $colortextmain;
}

ul{
    padding: 0px;
    margin: 0px;
}

ul li{
    list-style: none;
}

ul a{
    text-decoration: none;
}